<!doctype html>
<html>
  <head>
    <meta>
      <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
      <link rel="stylesheet" href="/styles/foundation.min.css" />
      <link rel="stylesheet" href="/styles/normalize.css" />
      <link rel="stylesheet" href="/styles/styles.css" />
      <script src="/js/jquery-1.11.3.min.js"></script>
      <script src="/js/foundation.min.js"></script>
		  {% block elements %}{% endblock %}
      <title>{% block title %}My Site{% endblock %}</title>
  </head>
	<body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">My Site</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
    </nav>
    <div class="row">
      {% block content %}{% endblock %}
    <div>
		{% block javascripts %}{% endblock %}
  </body>
</html>
