<!doctype html>
<html>
  <head>
    <meta>
      <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
      <link rel="stylesheet" href="/styles/foundatoin.min.css" />
      <link rel="stylesheet" href="/styles/normalize.css" />
      <link rel="stylesheet" href="/styles/styles.css" />
      <script src="/js/jquery-1.11.3.min.js"></script>
      <script src="/js/foundation.min.js"></script>
		  {% block elements %}

	    {% endblock %}
      <title>{% block title %}My Site{% endblock %}</title>
  </head>
	<body>
    <div>
      {% block content %}{% endblock %}
    <div>
		{% block javascripts %}

		{% endblock %}
  </body>
</html>
